.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
}

.not-found-container h1 {
  font-size: 3rem;
  color: #e74c3c;
}

.not-found-container p {
  font-size: 1.5rem;
  color: #555;
}

.home-link {
  margin-top: 20px;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #0d6ffd;
  border-radius: 5px;
}

.home-link:hover {
  background-color: #0a58ca;
}
